/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #000000;
    background-color: #cdcdcd;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #d7d7d7;
  }
  
  /* Navbar Styles */
  
  .navbar {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-logo {
    width: 40px;
    height: 40px;
    background-color: #000000;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav-links a {
    color: #fff;
    margin-right: 20px;
  }
  
  .nav-links a:hover {
    color: #ccc;
  }
  
  /* About Section Styles */
  
  .about-sec {
    padding: 40px;
    background-color: #bfbfbf;
    text-align: center;
  }
  
  .about-msg {
    max-width: 600px;
    margin: 40px auto;
  }
  
  /* Experience Section Styles */
  
  .experience-sec {
    padding: 40px;
    background-color: #aaaaaa;
  }
  
  .exp-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .exp-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
  }
  
  .exp-item h2 {
    margin-top: 0;
  }
  
  .exp-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .exp-item li {
    margin-bottom: 10px;
  }
  
  /* Skills Section Styles */
  
  .skills-sec {
    padding: 40px;
    background-color: #f7f7f7;
    text-align: center;
  }
  
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill-item {
    width: 25%;
    margin: 20px;
    text-align: center;
  }
  
  .skill-item i {
    font-size: 40px;
    margin-bottom: 10px;
  }
  
  /* Education Section Styles */
  
  .education-sec {
    padding: 40px;
    background-color: #bbbbbb;
  }
  
  .edu-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .edu-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2;
  }
  
  .edu-item h2 {
    margin-top: 0;
  }
  
  .edu-item ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .edu-item li {
    margin-bottom: 10px;
  }
  
  /* Contact Section Styles */
  
  .contact-sec {
    padding: 40px;
    background-color: #c4c4c4;
    text-align: center;
  }
  
  .contact-info {
    max-width: 600px;
    margin: 40px auto;
  }
  
  /* Footer Styles */
  
  .footer {
    background-color: #000000;
    padding: 10px;
    text-align: center;
    color: #fff;
  }
  
  .footer p {
    margin-bottom: 0;
  }